<div class="left_aside">
    <div class="line1">
        <div class="container">
            <div class="hex_border">
                <div class="hex">
                    <div class="hex-background">
                        <hr>
                        <hr>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs">
        
    </div>
</div>