<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>MiFista</title>
<link rel="icon" href="imgs/about/about.svg">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name="description" content="Here is a portfolio.">
<meta name="keywords" content="portfolio, work, studing, programming">
<meta name="author" content="Aleksei Kozlov">
<meta name='viewport' content='width=device-width, initial-scale=1'>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/background.css">
<link rel="stylesheet" href="css/default.css">
<link rel="stylesheet" href="css/objs.css">


<script src="js/jquery-3.6.1.min.js"></script>

<script src="js/adminFunc/previewsObjs.js"></script>
<script src="js/adminFunc/editObjs.js"></script>

<link rel="stylesheet" href="lib/slider/slider.css">
<script src="lib/slider/slider.js"></script>

<link rel="stylesheet" href="lib/lightbox/lightbox.css">
<script src="lib/lightbox/lightbox.js"></script>

<link rel="stylesheet" href="lib/modalWindow/window.css">
<script src="lib/modalWindow/window.js"></script>
